# Caddy config
# to enable https just set a valid/reachable domain instead of *:8002 - how simple !
# authentication has been setup with 2 users, alice and bob

*:8002
basicauth / alice paul
basicauth / bob dylan
proxy / 127.0.0.1:8001