# Caddy config
# to enable https just set a valid domain instead of mydomain.com - how simple !
# authentication has been setup with 2 users, alice and bob

mydomain.com
basicauth / alice paul
basicauth / bob dylan
proxy / 127.0.0.1:8001