debug
test
gossa.go
gossa
gossa-linux64
gossa-linux-arm
gossa-linux-arm64
gossa-mac
gossa-windows.exe
gossa_test.go

.vscode
fixture/*
fixture/*/*
!fixture/compress
!fixture/compress/foo*
!fixture/gzip
!fixture/gzip/fake_ecstatic*
!fixture/gzip/real_ecstatic
!fixture/curimit@gmail.com (40%)
!fixture/curimit@gmail.com (40%)/test.html
!fixture/show-dir$$href_encoding$$
!fixture/show-dir$$href_encoding$$/aname+aplus.txt
!fixture/subdir
!fixture/subdir/e.html
!fixture/subdir_with space
!fixture/subdir_with space/file_with space.html
!fixture/中文
!fixture/中文/檔案.html
!fixture/404*
!fixture/b.txt
!fixture/custom_mime_type*
!fixture/f_f
!fixture/hols
!fixture/hols/c.js
!fixture/hols/adler-2872995_1920.jpg
!fixture/hols/elephant-1822636_1920.jpg
!fixture/hols/glasgow.jpg
!fixture/hols/landscape-540116_1920.jpg
!fixture/hols/scotland-1761292_1920.jpg
