name: always
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.19.1
      id: go

    - name: deps
      run: npm i -g standard

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Run
      run: make ci

